<div class="task col-sm-12 col-lg-6">
	<div class="body-task">
		<div class="buttons p-3">
			<button class="btn btn-primary"><i class="fa fa-plus"></i> New Task</button>
		</div>
		<div class="collapse-scrolling">
			<div class="collapse-example font-weight-bold border-top border-bottom border-gray p-3">
				<a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-angle-down" aria-hidden="true"></i> <img class="pr-2 pl-1" src="../src/img/img1.png" alt="User Exaple">Varian Vrynn</a>
			</div>
			<div class="collapse show" id="collapseExample">
  				<div class="media pl-3 pt-3">
  					<i class="fa fa-check-circle-o check pt-1 text-muted" aria-hidden="true"></i>
						<div class="media-body pt-1 pb-1 mb-0 small border-bottom border-gray ml-2">
							<div class="d-flex justify-content-between align-items-center w-100 pr-4">
							    <p>Prepere graphics for presentation</p>
							    <p class="text-muted">
							        <span><i class="fa fa-calendar pr-1" aria-hidden="true"></i> 30 Jun</span>
							        <span class="pl-3"><i class="fa fa-play" aria-hidden="true"></i></span>
							    </p>
							</div>
						</div>
				</div>
			</div>
			<div class="collapse show" id="collapseExample">
  				<div class="media pl-3 pt-3">
  					<i class="fa fa-check-circle-o check pt-1 text-muted" aria-hidden="true"></i>
					<div class="media-body pt-1 pb-1 mb-0 small border-bottom border-gray ml-2">
						<div class="d-flex justify-content-between align-items-center w-100 pr-4">
							<p>Make a graphic presentation of a...</p>
							<p class="text-muted">
							    <span class="pl-3"><i class="fa fa-play" aria-hidden="true"></i></span>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="collapse show" id="collapseExample">
  				<div class="media pl-3 pt-3">
  					<i class="fa fa-check-circle-o check pt-1 text-muted" aria-hidden="true"></i>
						<div class="media-body pt-1 pb-1 mb-0 small border-bottom border-gray ml-2">
							<div class="d-flex justify-content-between align-items-center w-100 pr-4">
							    <p>Develop new marketing campaign for summer period</p>
							    <p class="text-muted">
							        <span><i class="fa fa-calendar pr-1" aria-hidden="true"></i> 30 Jun</span>
							        <span class="pl-3"><i class="fa fa-play" aria-hidden="true"></i></span>
							    </p>
							</div>
						</div>
				</div>
			</div>

			<div class="collapse show" id="collapseExample">
  				<div class="media pl-3 pt-3">
  					<i class="fa fa-check-circle-o check pt-1 text-muted" aria-hidden="true"></i>
					<div class="media-body pt-1 pb-1 mb-0 small border-bottom border-gray ml-2">
						<div class="d-flex justify-content-between align-items-center w-100 pr-4">
							<p>Develop new marketing campaign for summer and autumn period</p>
							<p class="text-muted">
								<span class="pl-3"><i class="fa fa-play" aria-hidden="true"></i></span>
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="collapse show" id="collapseExample">
  				<div class="media pl-3 pt-3">
  					<i class="fa fa-check-circle-o check pt-1 text-muted" aria-hidden="true"></i>
						<div class="media-body pt-1 pb-1 mb-0 small border-bottom border-gray ml-2">
							<div class="d-flex justify-content-between align-items-center w-100 pr-4">
							    <p>Devide project development for subtasks and asign</p>
							    <p class="text-muted">
							        <span><i class="fa fa-calendar pr-1" aria-hidden="true"></i> 30 Jun</span>
							        <span class="pl-3"><i class="fa fa-play" aria-hidden="true"></i></span>
							    </p>
							</div>
						</div>
				</div>
			</div>

							<div class="collapse-example font-weight-bold border-bottom border-gray p-3">
								<a data-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2"><i class="fa fa-angle-down" aria-hidden="true"></i> <img class="pr-2 pl-1" src="../src/img/img2.png" alt="User Exaple">Tyrande Whisperwind</a>
							</div>
							<div class="collapse show" id="collapseExample2">
  								<div class="media pl-3 pt-3">
  									<i class="fa fa-check-circle-o check pt-1 text-muted" aria-hidden="true"></i>
							      <div class="media-body pt-1 pb-1 mb-0 small border-bottom border-gray ml-2">
							        <div class="d-flex justify-content-between align-items-center w-100 pr-4">
							        	<p>Make a graphic presentation of a...</p>
							        	<p class="text-muted">
							        		<span><i class="fa fa-calendar pr-1" aria-hidden="true"></i> 30 Jun</span>
							        		<span class="pl-3"><i class="fa fa-play" aria-hidden="true"></i></span>
							        	</p>
							        </div>
							      </div>
							    </div>
							</div>
							<div class="collapse show" id="collapseExample2">
  								<div class="media pl-3 pt-3">
  									<i class="fa fa-check-circle-o check pt-1 text-muted" aria-hidden="true"></i>
							      <div class="media-body pt-1 pb-1 mb-0 small border-bottom border-gray ml-2">
							        <div class="d-flex justify-content-between align-items-center w-100 pr-4">
							        	<p>Develop new marketing campaign for summer period</p>
							        	<p class="text-muted">
							        		<span><i class="fa fa-calendar pr-1" aria-hidden="true"></i> 30 Jun</span>
							        		<span class="pl-3"><i class="fa fa-play" aria-hidden="true"></i></span>
							        	</p>
							        </div>
							      </div>
							    </div>
							</div>
							<div class="collapse show" id="collapseExample2">
  								<div class="media pl-3 pt-3">
  									<i class="fa fa-check-circle-o check pt-1 text-muted" aria-hidden="true"></i>
							      <div class="media-body pt-1 pb-1 mb-0 small border-bottom border-gray ml-2">
							        <div class="d-flex justify-content-between align-items-center w-100 pr-4">
							        	<p>Develop new marketing campaign for summer period</p>
							        	<p class="text-muted">
							        		<span><i class="fa fa-calendar pr-1" aria-hidden="true"></i> 30 Jun</span>
							        		<span class="pl-3"><i class="fa fa-play" aria-hidden="true"></i></span>
							        	</p>
							        </div>
							      </div>
							    </div>
							</div>
							<div class="collapse show" id="collapseExample2">
  								<div class="media pl-3 pt-3">
  									<i class="fa fa-check-circle-o check pt-1 text-muted" aria-hidden="true"></i>
							      <div class="media-body pt-1 pb-1 mb-0 small border-bottom border-gray ml-2">
							        <div class="d-flex justify-content-between align-items-center w-100 pr-4">
							        	<p>Devide project development for subtasks and asign</p>
							        	<p class="text-muted">
							        		<span><i class="fa fa-calendar pr-1" aria-hidden="true"></i> 30 Jun</span>
							        		<span class="pl-3"><i class="fa fa-play" aria-hidden="true"></i></span>
							        	</p>
							        </div>
							      </div>
							    </div>
							</div>
							<div class="collapse show" id="collapseExample2">
  								<div class="media pl-3 pt-3">
  									<i class="fa fa-check-circle-o check pt-1 text-muted" aria-hidden="true"></i>
							      <div class="media-body pt-1 pb-1 mb-0 small border-bottom border-gray ml-2">
							        <div class="d-flex justify-content-between align-items-center w-100 pr-4">
							        	<p>Prepere graphics</p>
							        	<p class="text-muted">
							        		<span><i class="fa fa-calendar pr-1" aria-hidden="true"></i> 30 Jun</span>
							        		<span class="pl-3"><i class="fa fa-play" aria-hidden="true"></i></span>
							        	</p>
							        </div>
							      </div>
							    </div>
							</div>
						</div>
						</div>
					</div>