<div class="task col-sm-12 col-lg-6">
						<div class="body-task p-3">
							<div class="d-flex justify-content-between align-items-center">
								<div class="buttons">
									<button class="btn play"><i class="fa fa-play" aria-hidden="true"></i></button>
									<button class="btn success ml-2"><i class="fa fa-check" aria-hidden="true"></i> Mark Complete</button>
								</div>
								<div class="ellipsis">
									<button class="btn btn-default"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
								</div>
							</div>
							<h5 class="pt-4 pb-4">Developer new marketing campaign for summer period</h5>
							<div class="media-body pb-2 mb-0 small lh-125 border-bottom border-gray">
							        <div class="d-inherit d-flex align-items-center w-100">
							        	<p>
							        		<span><img class="pr-2" src="../src/img/img3.png" alt="User Exaple">Cosmic Cuttlefish</span></p>
							        	<p>
							        		<span><img class="pl-4 pr-2" src="../src/img/img2.png" alt="User Exaple">Tyrande Whisperwind</span>
							        	</p>
							        	<p class="item-vertical"><span><i class="fa fa-calendar pl-4 pr-2" aria-hidden="true"></i> 29 Jun</span></p>
							        </div>
							 </div>
							 <div class="media-body pt-3 pb-2 mb-0 small border-bottom border-gray">
							        <div class="d-flex align-items-center w-100">
							        	<p>If this represents the "best" of the person in doing a task or if it represent "how" they do a task in an area such as perfomance/pace, this would be included in the profile.<p>
							        </div>
							 </div>
							 <div class="media-body pt-3 pb-2 mb-0 small border-bottom border-gray">
							        <div class="w-100">
							        	<p class="text-muted">Budget</p>
							        	<p>12 hours</p>
							        </div>
							 </div>
							 <div class="media-body pt-3 pb-3 mb-0 border-bottom border-gray">
							        <div class="w-100">
							        	<a href="#" class="badge badge-light mr-2">AnotherOne <i class="fa fa-times pl-2" aria-hidden="true"></i></a>
							        	<a href="#" class="badge badge-light mr-2">Somedata <i class="fa fa-times pl-2" aria-hidden="true"></i></a>
							        	<a href="#" class="badge badge-disbled mr-2"> <img class="align-top pl-1 pr-2" src="../src/img/tags-icon.png" alt="Add Tags">Add Tags</a>
							        </div>
							 </div>
							 <div class="media-body pt-3 pb-2 mb-0 small">
							        <div class="last-media text-muted w-100">
							        	<p>Activity</p>
							        	<p>You created this task 20 Jun at 7 h 23 min</p>
							        </div>
							 </div>
						</div>
					</div>