<div class="task col-sm-12 col-lg-6">
						<div class="body-task pl-4 pr-4 pt-3 pb-3">
							<div class="d-flex justify-content-between align-items-center">
								<div class="buttons">
									<button class="btn play"><img src="../src/img/play-success.svg" alt="Play success"></button>
									<button class="btn success ml-2"><img src="../src/img/checkMark.svg" alt="checkMark"> Mark Complete</button>
								</div>
								<div class="ellipsis">
									<button class="btn btn-default"><img src="../src/img/elipsis-h.svg" alt="elipsis"></i></button>
								</div>
							</div>
							<h5 class="pt-4 pb-4">Developer new marketing campaign for summer period</h5>
							<div class="media-body pb-2 mb-0 border-bottom border-gray">
							        <div class="media-right d-inherit d-flex align-items-center w-100">
							        	<p>
							        		<span><img class="pr-2" src="../src/img/img3.png" alt="User Exaple">Cosmic Cuttlefish</span></p>
							        	<p>
							        		<span><img class="pl-4 pr-2" src="../src/img/img2.png" alt="User Exaple">Tyrande Whisperwind</span>
							        	</p>
							        	<p class="item-vertical"><span><img class="pl-4 pr-1" src="../src/img/calendar-small-dark.svg" alt="Calendar Dark"> 29 Jun</span></p>
							        </div>
							 </div>
							 <div class="media-body pt-3 pb-2 mb-0 border-bottom border-gray">
							        <div class="d-flex align-items-center w-100">
							        	<p>If this represents the "best" of the person in doing a task or if it represent "how" they do a task in an area such as perfomance/pace, this would be included in the profile.<p>
							        </div>
							 </div>
							 <div class="media-body pt-3 pb-2 mb-0 border-bottom border-gray">
							        <div class="w-100">
							        	<p class="text-muted">Budget</p>
							        	<p>12 hours</p>
							        </div>
							 </div>
							 <div class="media-body pt-3 pb-3 mb-0 border-bottom border-gray">
							        <div class="w-100">
							        	<a href="#" class="badge badge-light mr-2">AnotherOne <img src="../src/img/delete-tag.png" class="pl-2" alt="Delete Tag"></a>
							        	<a href="#" class="badge badge-light mr-2">Somedata <img src="../src/img/delete-tag.png" class="pl-2" alt="Delete Tag"></a>
							        	<a href="#" class="badge badge-disbled mr-2"> <img class="align-top pl-1 pr-2" src="../src/img/tags.svg" alt="Add Tags">Add Tags</a>
							        </div>
							 </div>
							 <div class="media-body pt-3 pb-2 mb-0">
							        <div class="last-media text-muted w-100">
							        	<p>Activity</p>
							        	<p>You created this task 20 Jun at 7 h 23 min</p>
							        </div>
							 </div>
						</div>
					</div>