@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./common";
@import "./variables";
@import "./mixin";


@font-face {
    font-family: 'pt_root_uiregular';
    src: url('../../fonts/pt_root_ui_regular.woff2') format('woff2'),
         url('../../fonts/pt_root_ui_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
	background: $body-bg;
	font-family: 'pt_root_uiregular';
	font-style: normal;

.task {

	.body-task {
		background: $color-white;
		border-radius: 5px;
		border: 1px solid $border-gray;
		height: 620px;
		margin-bottom: 60px;
		@include border-radius(6px);

		.collapse-scrolling {
			max-height: 545px;
			overflow-y: auto;
			overflow-x: hidden;
		}

		.buttons {
			.play {
				@include border-radius(50%);
				border: 1px solid $border-gray;
				line-height: 13px;
    			padding: 10px 15px;
			}

			.success {
				background: $button-gray;
				color: $button-color;
				@include border-radius(6px);
			}
		}

		.media {
			.check {
				font-size: 25px;
			}
		}

		.media-body {
			.item-vertical {
				span {
					vertical-align: super;
				}
			}

			.badge {
				&.badge-light {
					background: $badge-light-color;
					font-weight: 600;
					padding: 7px;
					border-radius: 13px;
				}
			}
			.last-media  {
				p {
				 color: #A1A7B3;
					&:first-child {
						font-weight: 500;
						color: #777E85;
					}
				}
			}

			p {
				line-height: 20px;
				color: #34393D;
				font-size: 14px;
			}

			.media-right {
				p {
					span {
						color: #34393D;
					}
				}
			}
		}
		.collapse {
			&:hover {
				background: $collapse-hover;
				cursor: default;
			}
		}

		.collapse-example {
			a {
				.fa {
					@include transition(all .1s ease);
				}
			}
		}
		.collapsed {
			.fa {
				@include transform;
				@include transition(all .1s ease);
			}
		}
	}
}
}