/* Variables Color */

$color-white: #fff;
$color-green: #17c22e;
$body-bg: #f6f7f8;
$border-gray: #d0d6db;
$button-gray: #ebedf0; 
$button-color: #4c5157;
$badge-light-color: #dae0e5;
$collapse-hover: #f2f5fc;
$link-color: #34393d;
$text-gray: #a1a7b2;