/* Variables Color */

$color-white: #fff;
$color-green: #17C22E;
$body-bg: #E5E5E5;
$border-gray: #d0d6db;
$button-gray: #ebedf0; 
$button-color: #4c5157;
$badge-light-color: #EBEDF0;
$collapse-hover: #f2f5fc;
$link-color: #34393d;
$text-gray: #a1a7b3;